@import "themes/rose-pine.css";

@define-color foreground @text;
@define-color foreground-inactive @aaaaaa;
@define-color background @base;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#temperature {
    padding-left: 1em
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#tray {
    padding-right: 1em 
}
